<!-- 宣告我們要套用模板 -->
{% extends "base.html" %}

{% block title %}Arduino 測試{% endblock %}

{% block main %}

<br/>
<h1>開關門測試</h1>
<!-- <h1>你是 {{nowuser}}</h1> 顯示目前使用者-->  
  <form action="/ledon" method="post">
    <br/>
      <h2>目前門的狀態：</h2> <h3 id ="subscribe_messages" class="panel-title">尚未接收到數值</h3>
      <br/>
      <button id="doorop" type="submit" class="btn btn-primary btn-lg"  name="dooropen" value="open">開鎖</button>
      <button id="doorcl" type="submit" class="btn btn-primary btn-lg"  name="doorclose" value="close">關鎖</button>
  </form>

  <br/>

  <form action="/mqtt">
    <button class="btn btn-primary" id="submit_btn">mqtt 測試</button> 
    <label for="mqttsuzi" class="form-label">{{doorstatus}}</label>
    </form>

{% endblock %}


{% block script %}



<!-- Socket.IO 的 CDN 連結 一定要加integrity=....略 不然不能用-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Socket.IO 的 CDN 連結 一定要加integrity=....略 不然不能用-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"
integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // listen for mqtt_message events
    // when a new message is received, log and append the data to the page
    socket.on('mqtt_message', function(data) {
      console.log(data);
      var text = '(' + data['topic'] + ' qos: ' + data['qos'] + ') ' + data['payload'];
      //TEXT可自訂變數
      $('#subscribe_messages').text(text);
      //$('#subscribe_messages').append(text + '<br><br>');
      //.append 會一直增加 <h3> </h3>

    })
  });

  
    doorop = document.getElementById('doorop');
    doorop.addEventListener('click', () => {
  

        Swal.fire({
            title: '開門中...',
            html: '正在開門',
            timer: 1500,
            timerProgressBar: true,
            didOpen: () => {
              Swal.showLoading()
              const b = Swal.getHtmlContainer().querySelector('b')
              timerInterval = setInterval(() => {
                b.textContent = Swal.getTimerLeft()
              }, 100)
            },
            willClose: () => {
              clearInterval(timerInterval)
            }
          }).then((result) => {
            /* Read more about handling dismissals below */
            if (result.dismiss === Swal.DismissReason.timer) {
              console.log('I was closed by the timer')
            }
          })

        
      });
  

    doorcl = document.getElementById('doorcl');
    doorcl.addEventListener('click', () => 
      
      {

        Swal.fire({
            title: '關門中...',
            html: '正在關門',
            timer: 1500,
            timerProgressBar: true,
            didOpen: () => {
              Swal.showLoading()
              const b = Swal.getHtmlContainer().querySelector('b')
              timerInterval = setInterval(() => {
                b.textContent = Swal.getTimerLeft()
              }, 100)
            },
            willClose: () => {
              clearInterval(timerInterval)
            }
          }).then((result) => {
            /* Read more about handling dismissals below */
            if (result.dismiss === Swal.DismissReason.timer) {
              console.log('I was closed by the timer')
            }
          })


      });
    


</script>



{% endblock %}