<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
         <!-- 斜線注意 jinja2語法-->
        <link rel="icon" href="{{ url_for('static', filename='img/Desktop.ico') }}">  
        <!-- Bootstrap CSS -->
        <link href="{{ url_for('static', filename='/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Sweet alert Js -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- 使用其他字形 來自Google-->
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">

        <!--  CSS 樣式表放在這裡 -->
        <style> body {font-family: 'Noto Sans TC', sans-serif;}</style>
        <!--  CSS 樣式表放在這裡 -->

    <body>
      <!-- v5沒有 jumbotron 元件 -->
      <div class="p-5 mb-4 bg-light rounded-3">
        <!-- 登入後才可見到的導覽列 -->
        {% if current_user.is_authenticated %}  
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">門禁系統</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">首頁</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/page">數字測試</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      選單
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/line">Line Notify 測試</a></li>
                      <li><a class="dropdown-item" href="/arduino">Arduino 測試</a></li>
                      <li><hr class="dropdown-divider"></li>
                    </ul>
                </ul>
                  <a class="nav-link">使用者 {{nowuser}}</a>
                  <button class="btn btn-outline-success" onclick="window.location.href = '/logout';">登出</button>
              </div>
            </div>
          </nav>
          <div class="container">

          {% endif %}

    <ul class="navbar-nav ml-auto">
    <li class="nav-item">

    <!-- 登入後才可見到的導覽列 -->
    {% if current_user.is_authenticated %}
      
    {% else %}
      <a class="nav-link" href="/login">登入</a>
    {% endif %}
          
      


<main>
<!-- 可供更改的部分 -->
{% block main %}{% endblock %}
</main> 

</div>

<footer class="text-center text-muted">

    <p style="color:black;"><a target="_blank"  style="cursor:text;text-decoration:none;color:black;">Copyright &copy;</a> {{ nowts.strftime('%Y') }} - 門禁系統  All rights reserved.</p>
    </footer>

 <!-- Bootstrap Bundle with Popper -->
 <script src="{{ url_for('static', filename='/bootstrap.bundle.min.js') }}"></script>


 <!-- 可供更改的部分 -->
 {% block script %}{% endblock %}

</body>

</html>