<!-- 宣告我們要套用模板 -->
{% extends "base.html" %}

{% block title %}使用者登入{% endblock %}

{% block main %}


{% with messages = get_flashed_messages() %}
{% if messages %}
  <div class = 'alert alert-warning'>
  {% for message in messages %}
    {{ message }}
  {% endfor %}
  </div>
{% endif %}
{% endwith %}


<br>
<br>
<h1>使用者登入</h1>
<br>
<br>
<form method="post" action="/login">

    <div class="form-group row">
      <label for="user_id" class="col-1 offset-1 col-form-label">帳號:</label>
      <div class="col-3">
        <input type="text" class="form-control" id="user_id" name="user_id" placeholder="userid">
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label for="password" class="col-1 offset-1 col-form-label">密碼:</label>
      <div class="col-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="password">
      </div>
    </div>
    <br>
    <div class="form-group row">
      <div class="col-2 offset-3">
        <button type="submit" class="btn btn-primary">登入</button>
      </div>
    </div>
  </form>


  {% endblock %}


  {% block script %}


  {% endblock %}